<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/44cf4ab3ec.js" crossorigin="anonymous"></script>
</head>

<body>
    <div style=" font-family: Arial, Helvetica, sans-serif; padding-bottom: 1rem;">
        <div style="width: 100%; max-width: 32rem;margin: 0 auto;text-align: center;">
            <h1 style="font-size: 1rem; color: blue;">Hi {{firstname}},</h1>
            <h2 style="font-size: 0.9rem; margin-top:1rem;">{{message}}</h2>
            <div style="background-color: slategrey; width: 50%; text-align: center;border-radius: 10px; padding: 0.5rem 0;margin: 0 auto;">
                <h1 style="color: white; font-size: 1rem;">{{code}}</h1>
            </div>
        </div>
    </div>

</body>